*{
	margin:0px;
	padding:0px;
}

body{
	background: url("images/wall-texture.jpg") fixed;
	background-size: cover;
	font-family:Montserrat;
	color:white;
	line-height:30px;
	}

header{
	width:800px;
	height:250px;
	margin:24px auto 0px auto;
	border:1px #ddd solid;
}

a:link{
    color: white;
    text-decoration:none;
    }

a:visited{
	color:white;
	text-decoration:none;
	}

a:hover{
	opacity: 0.5;
	text-decoration:none;
	}

section{
	position:relative;
	top: 55px;
	right: 50%;
	left:50%;
}

article{
	position:relative;
	right:400px;
}

.james{
	float:left;
	margin-right:150px;
	font-size:50px;
	padding-top:10px;
}

.left_column{
	float:left;
	margin-right:70px;
}

.right_column{
    float:left;
    padding-bottom: 200px;
}

#validator ul{
  position: fixed;
  bottom:0;
  width:100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#validator li {
    float: left;
}

#validator li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10 px;
  margin: 15px;
  text-decoration: none;
}